@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ADD8E6;
}

.container {
  position: relative;
  max-width: 420px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background: #008080;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3), 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid black;
}

.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 30px;
  color: #000e1a;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.history {
  height: 40px;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000e1a;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #004d4d;
  font-size: 24px;
  cursor: pointer;
  background-color: #40E0D0;
  color: #000e1a;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.buttons button:hover {
  background-color: #36b2b2;
  border-color: #003d3d;
}

.buttons button:active {
  transform: scale(0.95);
}

.operator {
  color: #FF184E;
}
